nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 35px;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 35px;
    list-style: none;
}

h3 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.ul-login {}

.div-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-user {
    font-size: 2em;
    display: flex;
    align-self: center;
}

.logout {
    color: black;
    font-weight: bold;
    border: none;
    background-color: none;
    background: none;
    font-size: 1.1em;
    cursor: pointer;
    padding: 5px 3px;
    transition: ease-in-out;
}
